@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold.woff") format('woff'), url("../fonts/OpenSans-Semibold.ttf") format('truetype'), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Narrow';
  src: url("../fonts/PTSans-Narrow.eot?#iefix") format('embedded-opentype'), url("../fonts/PTSans-Narrow.woff") format('woff'), url("../fonts/PTSans-Narrow.ttf") format('truetype'), url("../fonts/PTSans-Narrow.svg#PTSans-Narrow") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MrsWhite';
  src: url("../fonts/MrsWhite.eot?#iefix") format('embedded-opentype'), url("../fonts/MrsWhite.woff") format('woff'), url("../fonts/MrsWhite.ttf") format('truetype'), url("../fonts/MrsWhite.svg#MrsWhite") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?60ipwh");
  src: url("../fonts/icomoon.eot?60ipwh#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?60ipwh") format('truetype'), url("../fonts/icomoon.woff?60ipwh") format('woff'), url("../fonts/icomoon.svg?60ipwh#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow_left:before {
  content: "\e907";
}
.icon-arrow_right:before {
  content: "\e908";
}
.icon-bear-hello:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-apply:before {
  content: "\e900";
}
.icon-cancelchanges:before {
  content: "\e901";
}
.icon-checkout:before {
  content: "\e902";
}
.icon-edit_subscription:before {
  content: "\e903";
}
.icon-join_the_club:before {
  content: "\e904";
}
.icon-savechanges:before {
  content: "\e905";
}
.icon-yesno:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e94e";
}
.icon-baby-feet2:before {
  content: "\e950";
}
.icon-background-basket2:before {
  content: "\e952";
}
.icon-background-dashboard2:before {
  content: "\e954";
}
.icon-basket2:before {
  content: "\e957";
}
.icon-basket-full2:before {
  content: "\e958";
}
.icon-bear-registration_login:before {
  content: "\e959";
}
.icon-bear-thank-you2:before {
  content: "\e95a";
}
.icon-button-buyreadmore_state1:before {
  content: "\e95b";
}
.icon-button-buyreadmore_state2:before {
  content: "\e95c";
}
.icon-button-buyreadmore_state3:before {
  content: "\e95d";
}
.icon-button-buyreadmore_state4:before {
  content: "\e95e";
}
.icon-button-buy-small2:before {
  content: "\e95f";
}
.icon-button-dashboardenter:before {
  content: "\e960";
}
.icon-button-free-offer2:before {
  content: "\e961";
}
.icon-button-subscription-more_state1:before {
  content: "\e962";
}
.icon-button-subscription-more_state2:before {
  content: "\e963";
}
.icon-button-subscription-more_state3:before {
  content: "\e964";
}
.icon-button-subscription-order2:before {
  content: "\e965";
}
.icon-button-subscription-order_state1:before {
  content: "\e966";
}
.icon-button-subscription-order_state2:before {
  content: "\e967";
}
.icon-button-subscription-order_state3:before {
  content: "\e968";
}
.icon-cross:before {
  content: "\e969";
}
.icon-delete:before {
  content: "\e96a";
}
.icon-door:before {
  content: "\e96b";
}
.icon-fox2:before {
  content: "\e96c";
}
.icon-free:before {
  content: "\e96d";
}
.icon-logo2 .path1:before {
  content: "\e96e";
  color: #e9b5c7;
}
.icon-logo2 .path2:before {
  content: "\e96f";
  margin-left: -2.974609375em;
  color: #e9b5c7;
}
.icon-logo2 .path3:before {
  content: "\e970";
  margin-left: -2.974609375em;
  color: #e9b5c7;
}
.icon-logo2 .path4:before {
  content: "\e971";
  margin-left: -2.974609375em;
  color: #e9b5c7;
}
.icon-logo2 .path5:before {
  content: "\e972";
  margin-left: -2.974609375em;
  color: #e9b5c7;
}
.icon-logo2 .path6:before {
  content: "\e973";
  margin-left: -2.974609375em;
  color: #a6d3d4;
}
.icon-logo2 .path7:before {
  content: "\e974";
  margin-left: -2.974609375em;
  color: #a6d3d4;
}
.icon-logo2 .path8:before {
  content: "\e975";
  margin-left: -2.974609375em;
  color: #a6d3d4;
}
.icon-logo2 .path9:before {
  content: "\e976";
  margin-left: -2.974609375em;
  color: #a6d3d4;
}
.icon-logo2 .path10:before {
  content: "\e977";
  margin-left: -2.974609375em;
  color: #a6d3d4;
}
.icon-mothers2:before {
  content: "\e978";
}
.icon-not-available:before {
  content: "\e979";
}
.icon-question:before {
  content: "\e97a";
}
.icon-rabbit2:before {
  content: "\e97b";
}
.icon-scroll-top2:before {
  content: "\e97c";
}
.icon-social-fb-hover:before {
  content: "\e97d";
}
.icon-social-ok-hover:before {
  content: "\e97e";
}
.icon-social-tw-hover:before {
  content: "\e97f";
}
.icon-social-vk-hover:before {
  content: "\e980";
}
.icon-tractor2:before {
  content: "\e981";
}
.icon-zoom-in2:before {
  content: "\e982";
}
