
<div id="modal_entrance" aria-hidden="false" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-title">Войти
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="img/close.png" alt=""/></button>
    </div>
    <div class="svg-wrapp"><img src="img/svg-rabitt.png" alt=""/></div>
    <form class="form-modal">
      <fieldset>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" placeholder="логин" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="password" placeholder="пароль" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label>
              <input type="checkbox"/>Запомнить меня
            </label>
          </div>
          <div class="col-sm-6 forgot-password"><a href="#">забыли пароль?</a></div>
        </div>
        <div class="form-group align-center">
          <div class="col-sm-12">
            <button type="submit" class="btn submit-modal">Войти</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="footer-modal-soc-reg">
      <div class="soc-reg-title">Войти через:</div>
      <ul class="founded-soc">
        <li><a href="#">vk</a></li>
        <li><a href="#">odn</a></li>
        <li><a href="#">fc</a></li>
        <li><a href="#">tw</a></li>
      </ul>
      <div class="not-yet-registered">Еще не зарегистрированы?<a data-toggle="modal" href="#modal_registration" id="in_reg">Пройти регистрацию</a></div>
    </div>
  </div>
</div>
<div id="modal_registration" aria-hidden="false" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-title">Регистрация
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="img/close.png" alt=""/></button>
    </div>
    <div class="svg-wrapp"><img src="img/svg-rabitt.png" alt=""/></div>
    <form class="form-modal">
      <fieldset>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" placeholder="eMAIL*" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            <input type="text" placeholder="тЕЛЕФОН*" class="form-control"/>
          </div>
          <div class="col-sm-7">
            <input type="text" placeholder="Имя*" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <select id="select_town" class="form-control">
              <option>Город</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="col-sm-9">
            <input type="text" placeholder="аДРЕС" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" placeholder="иМЯ РЕБЕНКА" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            <select id="sex-of-the-child" class="form-control">
              <option>ПОЛ РЕБЕНКА</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <div class="col-sm-7">
            <select id="age-of-child" class="form-control">
              <option>ВОЗРАСТ РЕБЕНКА</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group align-center">
          <div class="col-sm-12">
            <button type="submit" class="btn submit-modal">ВСТУПИТЬ В КЛУБ</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="footer-modal-soc-reg">
      <div class="soc-reg-title">Войти через:</div>
      <ul class="founded-soc">
        <li><a href="#">vk</a></li>
        <li><a href="#">odn</a></li>
        <li><a href="#">fc</a></li>
        <li><a href="#">tw</a></li>
      </ul>
    </div>
  </div>
  <!-- build:js js/bundle.min.js-->
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap-stylus/js/button.js"></script>
<script src="bower_components/bootstrap-stylus/js/carousel.js"></script>
<script src="bower_components/bootstrap-stylus/js/collapse.js"></script>
<script src="bower_components/bootstrap-stylus/js/dropdown.js"></script>
<script src="bower_components/bootstrap-stylus/js/modal.js"></script>
<script src="bower_components/bootstrap-stylus/js/tab.js"></script>
<script src="bower_components/bootstrap-stylus/js/transition.js"></script>
<script src="js/scripts.js">
  <!-- endbuild-->
</script>