
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="img/logo.png" alt=""/></a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Каталог<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </li>
        <li><a href="#">О НАС</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">8 800 333 05 87<br/><span>звонок бесплатный</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" href="#modal_entrance">войти</a></li>
        <li><a href="basket.html">basket</a></li>
      </ul>
    </div>
  </div>
</nav>